<div class="row land-container">
    <div class="col-md-4">
        <img src="/images/beer.png" alt="beer" width="350px"/>
        <a href="/beers">
            <h1>Check the Beers!</h1>
        </a>
        <a href="/random-beer">
            <h1>Check a Random Beer!</h1>
        </a>
    </div>
</div>